<!--
<div class="socials-top colors-hover">
    <ul>
        <li><a href="https://twitter.com/gtheme_io"><span class="fa fa-twitter"></span></a></li>
        <li><a href="https://www.facebook.com/pages/GTheme/1382577158670394"><span class="fa fa-facebook"></span></a></li>
        <li><a href="https://twitter.com/gtheme_io"><span class="fa fa-google-plus"></span></a></li>
        <li><a href="https://twitter.com/gtheme_io"><span class="fa fa-github-square"></span></a></li>
    </ul>
</div>
-->
